<div class="form-input">
  {{> Button icon="clip.svg" view="file" }}
  <div class="form-input__input">
    <input placeholder="Сообщение" name="message">
  </div>

  {{> Button icon="arrow-line.svg" view="arrow" }}
</div>
