{{{InputLogin}}}
{{{InputPassword}}}

<div class="form__action">
  {{{ButtonSighIn}}}
  {{{ButtonNotAccount}}}
</div>

{{#if errorForm}}
  <span class="form__error">
    Неверно заполнена форма
  </span>
{{/if}}
