<nav>
  <ul>
    <li><a href="#" page="login">Login</a></li>
    <li><a href="#" page="auth">Auth</a></li>
    <li><a href="#" page="main">Main</a></li>
    <li><a href="#" page="404">NotFound</a></li>
    <li><a href="#" page="500">ServerError</a></li>
    <li><a href="#" page="setting">Setting</a></li>
  </ul>
</nav>
