<div class="wrapper-input">
  <label class="input">
    <input
      class="input__element"
      placeholder=""
      name="{{name}}"
    />
    <div class="input__label">{{label}}</div>
  </label>
</div>
