<div class="message-image">
  <div class="message-image__content message-image__content_{{way}}">
    <img class="message-image__content" src="{{url}}" alt="foto">

    <span class="message-image__content__time message-image__content__time_{{way}}">{{time}}</span>
  </div>

</div>
