<!--<button class="sidebar__btn">-->
<!--  Профиль-->
<!--  {{{Avatar}}}-->
<!--&lt;!&ndash;  <img class="sidebar__btn__icon" src="src/shared/assets/icon/arrow.svg" alt="arrow-icon"/>&ndash;&gt;-->
<!--</button>-->

{{{ButtonProfile}}}

{{{SearchBlock}}}

<ul>
  {{#each ChatList}}
    {{{ this }}}
  {{/each}}
</ul>
