<button class="sidebar__btn">
  Профиль
  {{{Avatar}}}
<!--  <img class="sidebar__btn__icon" src="src/shared/assets/icon/arrow.svg" alt="arrow-icon"/>-->
</button>

{{{SearchBlock}}}

<ul>
  {{#each chatList}}
    {{{ this }}}
  {{/each}}
</ul>
