  <div class="feed__header">
    {{{Avatar}}}
    <span class="feed__header__name">{{name}}</span>
    <button class="feed__header__btn">
    </button>
  </div>

  <ul class="feed__content">
    {{#each feedList}}
      {{{ this }}}
    {{/each}}
  </ul>

  {{{Form}}}
