<div class="setting">
  <div class="setting__block-back">
    {{> Button icon="arrow-line.svg" view="arrow" }}
  </div>

  <div class="setting__content">
    <div class="setting__content__about">
      {{> Avatar url="https://lastfm.freetls.fastly.net/i/u/ar0/708e7517998748bac8a19f4a42635124.png" size="l" name=""}}
      <span class="setting-name">Иван</span>
    </div>

    <div class="setting__content__info">
      {{> SettingItem name="Почта" type="arrow" value="pochta@yandex.ru"}}
      {{> SettingItem name="Логин" type="arrow" value="ivanivanov"}}
      {{> SettingItem name="Имя" type="arrow" value="Иван"}}
      {{> SettingItem name="Фамилия" type="arrow" value="Иванов"}}
      {{> SettingItem name="Имя в чате" type="arrow" value="Иван"}}
      {{> SettingItem name="Телефон" type="arrow" value="+7 (909) 967 30 30"}}
    </div>

    <div class="setting__content__actions">
      {{> Button type="primary" label="Сохранить"}}
    </div>
  </div>
</div>
